.container-detail-practicas{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.text-practicas{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.tittle-practicas{
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.cardsAside {
    background-color: #b4d9b0;
    color: #45833A;
    font-weight: bold;
}
.cardsAside:hover {
    background-color: #a2cb9d;
    color: #45833A;
}
.ulPract {
    text-align: left;
    list-style-type: square;
    list-style-image: url(../../../assets/tecnologias/iconCheck.svg);
}
.ulPract li {
    color: black;
}
.ctn-imgUrofluj {
    width: 90%;
}
.ctn-imgUrofluj img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 992px) {
    .col-3 {
        display: none;
    }
    .col-8 {
        width: 90%;
    }
    .container-detail-practicas {
        width: 100%;
    }
}