.mision-container{
    background-color:#45833A ;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}
.row-mision{
    width: 90%;
    margin:auto;
    justify-content: space-around;
}
.text-mision{
    color: white;
    font-family: 'roboto';
    font-size: 16px;
    line-height: 24px;
}
.tittle-mision{
    color: white;
    font-family: 'roboto';
    font-size: 24px;

}

.imgMisionVision {
    filter: invert(89%) sepia(100%) saturate(6%) hue-rotate(104deg) brightness(103%) contrast(102%);
    margin-bottom: 2rem;
}
.tittle-mision {
    margin-bottom: 2rem;
}
.text-mision {
    text-align: center;
}
.col-lg-3 {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .row-mision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-lg-3 {
        width: 85%;
        border-bottom: 2px solid #fff;
        margin-bottom: 2rem;
    }
}