.contenedor-titulo-secciones{
    background-color: #45833A;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.contenedor-titulo-secciones h4 {
    font-size: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: white;
    transition: 300ms ease-in-out;
    animation: tit .2s linear;
}

@keyframes tit {
    0%{
        transform: translate(5%);
    }
    100% {
        transform: translate(0);
    }
}