.text-conocenos{
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.conocenos-container{
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
}
.tittle-conocenos{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 48px;
    
}